<div class="text-center mt-5">
    <h1 class="display-4">Chào mừng đến với trang quản lý khóa học</h1>
    <p class="lead mt-3">Bạn có thể thêm, sửa, xoá hoặc xem thông tin khóa học tại đây.</p>
    <a href="/teachers/courses" class="btn btn-primary mt-4">+ Thêm khóa học mới</a>
</div>