<html lang='vi'>
  <head>
    <meta charset='UTF-8' />
    <title>Kết quả xác minh</title>
  </head>
  <body class='bg-light'>
    <div class='container py-5'>
      <div class='row justify-content-center'>
        <div class='col-md-6'>
          {{#if success}}
            <div class='alert alert-success text-center'>
              {{success}}
              <br />
              <a href='/login' class='btn btn-success mt-3'>Đăng nhập</a>
            </div>
          {{else}}
            <div class='alert alert-danger text-center'>
              {{error}}
              <br />
              <a href='/auth/register' class='btn btn-danger mt-3'>Thử lại</a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </body>
</html>