<div class='text-center mt-5'>
  <h1 class='display-4 text-danger'>500 - Lỗi máy chủ</h1>
  <p class='lead'>Đã xảy ra lỗi trong quá trình xử lý. Vui lòng thử lại sau.</p>
  <a href='/' class='btn btn-dark'>Thử lại</a>
</div>