<h2>Chỉnh sửa nhóm bài học</h2>

<form
  action='/admin/lesson-groups/{{lessonGroup._id}}?_method=PUT'
  method='POST'
>
  <div class='mb-3'>
    <label for='title' class='form-label'>Tiêu đề nhóm</label>
    <input
      type='text'
      name='title'
      id='title'
      class='form-control'
      value='{{lessonGroup.title}}'
      required
    />
  </div>

  <button type='submit' class='btn btn-primary'>Cập nhật</button>
  <a
    href='/admin/courses/{{lessonGroup.course._id}}/lesson-groups'
    class='btn btn-secondary'
  >Hủy</a>
</form>