<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/img/favicon.ico">
  <title>Learning Management System</title>
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="/bootstrap/bootstrap-icons.css" />
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
  {{> header}}
  <main class="flex-fill">
    {{{body}}}
  </main>
  {{> footer}}
</body>

</html>